#myInput {
  background-image: url('/css/searchicon.png');
  background-repeat: no-repeat; 
  width: 420px; 
  font-size: 16px;
  padding: 12px 20px 12px 40px; 
  border: 3px solid blueviolet;
  position: relative;
  top: 5px;
  margin:10px 0 20px 0;
  float: left;
  height: 39px;

}

#myUL {
  list-style-type: none;
  height: 230px;
  overflow: hidden;

}

#myUL li  {
  border: 1px solid #ddd; 
  cursor: pointer;
  margin-top: -1px; 
  background-color: #f6f6f6; 
  padding: 12px; 
  text-decoration: none;
  font-size: 18px; 
  color: black; 
  display: block; 
}

#myUL li :hover{
  background-color: #eee;
}
.b7th{
  visibility: hidden;
  position: relative;
  margin: 0 100% 0 0;
  float: left;
  bottom: 13px;
}
#myInput:focus ~ .b7th ul{
  visibility: visible;
}
#extra{
  display: none;
}
